<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>TinyApp - Error</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
    <div>
      <p><%= error %></p>
    </div>
    </main>
    <%- include('partials/_footer') %>
  </body>
</html>